<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        p {
            font-size: 5vw;
            text-align: center;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
<form th:action="@{/}" method="post">
    <div>
        <p>Witaj na stronie domowej projektu</p>
        <p>Spring</p>
    </div>
</form>
</body>
</html>